*{
    margin: 0%;
    padding: 0%;
}
body{
    background: #000000;
}

.movielab{
    position: relative;
    width: 10%;
    height: 10%;
}
.carrusel{
    width: 100%;
    height: 70%;
}
article{
background: #333333;
}
aside{
background: red;
position: relative;
left: ;
}